* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(41, 37, 37);
}

.menu {
    width: 280px;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 27px;
    padding: 9px;
    flex-direction: column;
    border-radius: 0px 40px 40px 0px;
}

.menu img {

    width: 80px;
    height: 80px;
    margin: 2px;
}
.botao {
    background-color: black;
    color: rgb(214, 203, 203);
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.botao:hover {
    background-color: rgb(61, 54, 54);
    border-radius: 20px;
    width: 25vh;

}
.menuimag {
    display: flex;
    flex-direction: row;
}

.botaosair {
    margin-top: 70vh;
    font-size: 28px;
    width: 35vh;
    height: 35px;
    border-radius: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(61, 54, 54);
    color: white;
    cursor: pointer;
}

.botaosair:hover {
    opacity: 0.9;
}

.main {
    background-color: rgb(41, 37, 37);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.card {
    width: 200px;
    height: 350px;
    background-color: rgb(138, 131, 131);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.nomedebaixo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 76px;
}

.card strong {
    font-size: 23px;
}

.card img {
    border-radius: 50%;
    padding: 2px;
    border: 1px solid lightgray;
    margin-top: 15px;
}

.card:hover {
    opacity: 0.9;
}

.contentcards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 44px;
    text-align: center;
    padding-bottom: 90px;
    color: rgb(205, 202, 202);
}